@page
@model _2FSemesterProjekt2024.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}


<section class="text-center py-5">
    <div class="container">
        <h1 class="display-4">Welcome to ZealandGo</h1>
        <p class="display-6 mt-4">Sign up now to join the ZealandGo community and be a part of creating a more sustainable future for our school!</p>
        <a class="btn btn-green btn-lg" id="register" asp-area="Identity" asp-page="/Account/Register">Get Started</a>
    </div>
</section>
<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card text-center p-4">
                    <h5 class="card-title">Eco-Friendly Initiatives</h5>
                    <p class="card-text">We're dedicated to minimizing the environmental impact of student commutes. Explore our programs to reduce single-occupancy vehicle use, including a robust carpool system that connects students for shared rides to school..</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center p-4">
                    <h5 class="card-title">Parking Lot Optimization</h5>
                    <p class="card-text">By encouraging carpooling, we aim to free up valuable parking space on campus. Our goal is to maximize the available spots and reduce congestion around the school.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center p-4">
                    <h5 class="card-title">Green News</h5>
                    <p class="card-text">Stay updated on our latest sustainability initiatives, carpool updates, and other green programs benefiting the Zealand School community.</p>
                </div>
            </div>
        </div>
    </div>
</section>
footer: <footer class="text-center py-4" style="background-color: var(--secondary-green); color: #000;">
    <p>© 2024 ZealandGo. All rights reserved.</p>
</footer>




