html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.btn-eco-details {
    background-color: #8b5e3c; /* Earthy brown */
    color: white;
    border: 2px solid #6f4426; /* Darker brown border */
    padding: 3px 8px; /* Smaller padding */
    font-size: 0.9rem; /* Slightly smaller font */
    text-decoration: none;
    border-radius: 5px;
}