@page 
@model _2FSemesterProjekt2024.Pages.Bookning.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Booking</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Booking.PickupLocation" class="control-label"></label>
                <input asp-for="Booking.PickupLocation" class="form-control" />
                <span asp-validation-for="Booking.PickupLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Booking.DropoffLocation" class="control-label"></label>
                <input asp-for="Booking.DropoffLocation" class="form-control" />
                <span asp-validation-for="Booking.DropoffLocation" class="text-danger"></span>
            </div>

            @if (User.IsInRole("Driver"))
            {
                <div class="form-group">
                    <label asp-for="Booking.Seats" class="control-label"></label>
                    <input asp-for="Booking.Seats" class="form-control" />
                    <span asp-validation-for="Booking.Seats" class="text-danger"></span>
                </div>
            }
            
            <div class="form-group">
                <label asp-for="Booking.BookingTime" class="control-label"></label>
                <input asp-for="Booking.BookingTime" class="form-control" />
                <span asp-validation-for="Booking.BookingTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
